<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">


    <style>
      body {
        display: none;
      }

    </style>
    
    <!-- Title -->
    <title>Dashkit</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-156446909-1"></script><script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag("js", new Date());gtag("config", "UA-156446909-1");</script>

  </head>
  <body class="d-flex align-items-center bg-auth border-top border-top-2 border-primary" style="display: block;">

    <!-- CONTENT
    ================================================== -->
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 offset-xl-2 offset-md-1 order-md-2 mb-5 mb-md-0">

          <!-- Image -->
          <div class="text-center">
            <img src="https://dashkit.goodthemes.co/assets/img/illustrations/happiness.svg" alt="..." class="img-fluid">
          </div>

        </div>
        <div class="col-12 col-md-5 col-xl-4 order-md-1 my-5">
          
          <!-- Heading -->
          <h1 class="display-4 text-center mb-3">
            Hola!
          </h1>
          
          <!-- Subheading -->
          <p class="text-muted text-center mb-5">
            Bienvenido.
          </p>
          
          <!-- Form -->
          <form>

            <!-- Email address -->
            <div class="form-group">

              <!-- Label -->
              <label>Correo electrónico</label>

              <!-- Input -->
              <input type="email" class="form-control" id="email" placeholder="name@address.com">

            </div>

            <!-- Password -->
            <div class="form-group">

                  <label>Password</label>

                <input type="password" class="form-control" id="password" placeholder="Enter your password">

            </div>

            <!-- Submit -->
            <div class="flex flex-col">
              <a href="javascript:signin();" class="btn btn-lg btn-block btn-primary mb-3">
                Iniciar Sesión
              </a>
              <label class="text-center"> O </label>
              <!-- Link -->
              <div class="text-center">
                <a href="javascript:registrar();" class="btn btn-lg btn-block btn-warning mb-3">
                Registrate
              </a>
              </div>
            </div>
           
            
          </form>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->

    

  
<div id="draggable-live-region" aria-relevant="additions" aria-atomic="true" aria-live="assertive" role="log" style="position: fixed; width: 1px; height: 1px; top: -1px; overflow: hidden;"></div></body></html>

<script>
firebase.auth().onAuthStateChanged(function(user) {
  if (user) {
    window.location.href = "/me"
   
  } else {
    // No user is signed in.
    
  }
});

 function registrar(){
     var email= $("#email").val()
     var password= $("#password").val()
    firebase.auth().createUserWithEmailAndPassword(email, password).catch(function(error) {
        // Handle Errors here.
        var errorCode = error.code;
        var errorMessage = error.message;
        
        // ...
      });
 }
 function signin(){
     var email= $("#email").val()
     var password= $("#password").val()
     firebase.auth().signInWithEmailAndPassword(email, password).catch(function(error) {
        // Handle Errors here.
        var errorCode = error.code;
        var errorMessage = error.message;
        // ...
      });
 }

</script>