<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="A fully featured admin theme which can be used to build CRM, CMS, etc."
    />

    <!-- Theme CSS -->

    <style>
      body {
        display: none;
      }
    </style>

    <title>Cards</title>
  </head>
  <body style="display: block;">
    <!-- NAVIGATION
        ================================================== -->
        
        <%= render 'navegacion/menu' %>

        <div class="main-content">

    
      
            <div class="container-fluid">
              <div class="row justify-content-center">
                <div class="col-12 col-lg-10 col-xl-8">
      
                  <!-- Header -->
                  <div class="header mt-md-5">
                    <div class="header-body">
                      <div class="row align-items-center">
                        <div class="col">
      
                          <!-- Pretitle -->
                          <h6 class="header-pretitle">
                            Perfil
                          </h6>
      
                          <!-- Title -->
                          <h1 class="header-title">
                            Crea o modifica tu perfil
                          </h1>
      
                        </div>
                      </div> <!-- / .row -->
                    </div>
                  </div>
      
                  <!-- Form -->
                  <form class="mb-4">
      
                    <!-- Project name -->
                    <div class="form-group">
      
                      <!-- Label  -->
                      <label>
                        Nombre
                      </label>
      
                      <!-- Input -->
                      <input type="text" id="name" class="form-control">
      
                    </div>
      
                    <!-- Project description -->
                    <div class="form-group">
      
                      <!-- Label -->
                      <label class="mb-1">
                        Puesto descripción
                      </label>
      
                      <!-- Text -->
                      <small class="form-text text-muted">
                        Ejemplo: Ejecutivo de Ventas!
                      </small>
      
                      <!-- Textarea -->
                      <input type="text" class="form-control" id="depto">
                    </div>
                    <div class="form-group">
      
                        <!-- Label -->
                        <label class="mb-1">
                          Número de Whatsapp
                        </label>
        
                        <!-- Text -->
                        <small class="form-text text-muted">
                          Ejemplo: (XX)XXXXXXXX
                        </small>
        
                        <!-- Textarea -->
                        <input type="text" class="form-control" id="whats">
                      </div>
                      <div class="form-group">
      
                        <!-- Label -->
                        <label class="mb-1">
                          Número de Móvil
                        </label>
        
                        <!-- Text -->
                        <small class="form-text text-muted">
                          Ejemplo: (XX)XXXXXXXX
                        </small>
        
                        <!-- Textarea -->
                        <input type="text" class="form-control" id="movil">
                      </div>
                      <div class="form-group">
      
                        <!-- Label -->
                        <label class="mb-1">
                          Dirección de Email
                        </label>
        
                        <!-- Text -->
                        <small class="form-text text-muted">
                          Ejemplo: juan.perez@tuempresa.com
                        </small>
        
                        <!-- Textarea -->
                        <input type="text" class="form-control" id="email">
                      </div>
      
                    <!-- Divider -->
                    <hr class="mt-4 mb-5">

                 
      
                    <div class="form-group">
      
                        <!-- Label -->
                        <label class="mb-1">
                          Foto de perfil
                        </label>
        
                        <!-- Textarea -->
                        <progress id="uploader" value="0" max="100">0%</progress>
                        <input type="file" class="form-control"  id="fileButton" value="upload">
                      </div>

                      <div class="form-group">
      
                        <!-- Label -->
                        <label class="mb-1">
                          Imagen de Encabezado
                        </label>
        
                        <!-- Textarea -->
                        <progress id="uploader_cover" value="0" max="100">0%</progress>
                        <input type="file" class="form-control"  id="fileButton_cover" value="upload">
                      </div>

                      <hr class="mt-4 mb-5">
                    <!-- Buttons -->
                    <a href="javascript: save();" class="btn btn-block btn-primary">
                      Guardar
                    </a>
                   
      
                  </form>
      
                </div>
              </div> <!-- / .row -->
            </div>
            <div id="profile"></div>
          </div>

    <!-- / .main-content -->
  </body>
</html>

<script>
  var uploader = document.getElementById('uploader');
  var fileButton = document.getElementById('fileButton');
  fileButton.addEventListener('change', function(e){
  var file = e.target.files[0];
 
  firebase.auth().onAuthStateChanged(function(user) {
  if (user) {
  var storageRef = firebase.storage().ref('profile').child(user.uid).child(user.uid);
  var task = storageRef.put(file);
  task.on('state_changed', function progress(snapshot) {
    var percentage = (snapshot.bytesTransferred/snapshot.totalBytes)*100;
    uploader.value = percentage;
    if(percentage == 100){
        $("#uploader").css("display","none")
    }

  }, function error(err) {


  },function complete(response) {
   
  });


  }else{

  }
  })
});  


  var uploader_cover = document.getElementById('uploader_cover');
  var fileButton_cover = document.getElementById('fileButton_cover');
  fileButton_cover.addEventListener('change', function (e) {
    var file = e.target.files[0];

    firebase.auth().onAuthStateChanged(function (user) {
      if (user) {
        var storageRef = firebase.storage().ref('cover').child(user.uid).child(user.uid);
        var task = storageRef.put(file);
        task.on('state_changed', function progress(snapshot) {
          var percentage = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
          uploader_cover.value = percentage;
          if (percentage == 100) {
            $("#uploader_cover").css("display", "none")
          }

        }, function error(err) {


        }, function complete() {

        });


      } else {

      }
    })
  });


</script>

<script>
    function save() {
        var user = firebase.auth().currentUser.uid;
        var name = $("#name").val();
        var depto = $("#depto").val();
        var whats= $("#whats").val();
        var movil = $("#movil").val();
        var email = $("#email").val();

if (user) {
    
    var database = firebase.database();
    database.ref('profiles').child(user).set({
        name: name,
        depto: depto,
        whats: whats,
        movil: movil,
        email: email,
        profile_picture : "imageUrl",
        status: "activo"
    });
    window.location.href = "/me"
} else {
  // No user is signed in.
}
    
}
</script>
<script type="text/jsx">
    class Profile extends React.Component{
          constructor(props) {
            super(props);
            this.state = {
              data: []
            }
        }
          componentDidMount() {

            firebase.auth().onAuthStateChanged(function(user) {
                if (user) {
                    
                    var database = firebase.database();
                    var ref = database.ref("profiles/" + user.uid);
                    ref.once('value', snap => {
                        const shop = {
                                id: snap.key,
                                data: snap.val(),
                          };
                        $("#name").val(shop.data.name);
                        $("#depto").val(shop.data.depto);
                        $("#whats").val(shop.data.whats);
                        $("#movil").val(shop.data.movil);
                        $("#email").val(shop.data.email);
                });
                } else {
                  // No user is signed in.
                }
              });
        }
            render(){
              
                return(
                        <div>
                        </div>
                )
            }
      }
      ReactDOM.render(<Profile />,document.getElementById('profile'));
    </script>